aioboto3
aiobotocore
aiohttp
aioitertools
aiosignal
amqp
annotated-types
anyio
assemblyai
asttokens
async-timeout
attrs
billiard
boto3
botocore
Brotli
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
comm
dataclasses-json
debugpy
decorator
deeplake
deprecation
dill
distro
exceptiongroup
executing
fastapi
fireworks-ai
frozenlist
gotrue
greenlet
h11
httpcore
httpx
httpx-sse
humbug
idna
ipykernel
ipython
jedi
jmespath
jsonpatch
jsonpointer
jupyter_client
jupyter_core
kombu
langchain
langchain-community
langchain-core
langchain-fireworks
langchain-openai
langchain-text-splitters
langchainhub
langsmith
libdeeplake
lz4
marshmallow
matplotlib-inline
multidict
multiprocess
mutagen
mypy-extensions
nest-asyncio
numpy
openai
orjson
packaging
parso
pathos
pexpect
pillow
pinecone-client
platformdirs
postgrest
pox
ppft
prompt-toolkit
psutil
ptyprocess
pure-eval
pycryptodomex
pydantic
pydantic_core
Pygments
PyJWT
pypdf
python-dateutil
python-decouple
pytz
PyYAML
pyzmq
realtime
redis
regex
requests
s3transfer
six
sniffio
SQLAlchemy
stack-data
starlette
storage3
StrEnum
supabase
supafunc
tenacity
tiktoken
tornado
tqdm
traitlets
types-requests
typing-inspect
typing_extensions
tzdata
urllib3
uvicorn
vine
wcwidth
websockets
wrapt
yarl
yt-dlp
