amqp==5.2.0
annotated-types==0.6.0
anyio==4.2.0
asttokens==2.4.1
async-timeout==4.0.3
billiard==4.2.0
celery==5.3.6
certifi==2023.11.17
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
comm==0.2.1
debugpy==1.8.0
decorator==5.1.1
deprecation==2.1.0
exceptiongroup==1.2.0
executing==2.0.1
fastapi==0.108.0
gotrue==2.1.0
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.6
ipykernel==6.28.0
ipython==8.19.0
jedi==0.19.1
jupyter_client==8.6.0
jupyter_core==5.7.0
kombu==5.3.4
matplotlib-inline==0.1.6
nest-asyncio==1.5.8
packaging==23.2
parso==0.8.3
pexpect==4.9.0
platformdirs==4.1.0
postgrest==0.13.1
prompt-toolkit==3.0.43
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
pydantic==2.5.3
pydantic_core==2.14.6
Pygments==2.17.2
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3.post1
pyzmq==25.1.2
realtime==1.0.2
redis==5.0.1
six==1.16.0
sniffio==1.3.0
stack-data==0.6.3
starlette==0.32.0.post1
storage3==0.7.0
StrEnum==0.4.15
supabase==2.3.1
supafunc==0.3.3
tornado==6.4
traitlets==5.14.1
typing_extensions==4.9.0
tzdata==2023.4
uvicorn==0.25.0
vine==5.1.0
wcwidth==0.2.13
websockets==11.0.3
